
html, body {
  height: 100%
  background-color: #fff;
  margin: 0px;
  padding: 0px;
  font-family: sans-serif;
}
.span2 {
  color: blue
  background-color: lightgrey;
}

.sidepanel {
  border: 5px solid black;
  width: 95px;
  height: 400px;
}
.panel {
  width: 95px;
  height: 95;
}

.test2 {
  border: 1px dotted red;
}
